Fase2/QuetzalExpress/QuetzalExpress/Service References/ConexionWeb/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarClienteNuevo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarClienteNuevoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GuardarClienteNuevoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarTarjeta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="banco" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fex" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarTarjetaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GuardarTarjetaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarClientes">
        <s:complexType />
      </s:element>
      <s:element name="CargarClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CargarClientesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CargarDatosResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoguinCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoguinClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoguinClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoguinClientePass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoguinClientePassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoguinClientePassResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Loguin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoguinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoguinResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoguinPass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoguinPassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoguinPassResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="impuesto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarCategoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarCategoriaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarPaquete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clasificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="peso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="casilla" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarPaqueteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarPaqueteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCodigoPaquete">
        <s:complexType />
      </s:element>
      <s:element name="obtenerCodigoPaqueteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerCodigoPaqueteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCodigoDetallePaquete">
        <s:complexType />
      </s:element>
      <s:element name="obtenerCodigoDetallePaqueteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerCodigoDetallePaqueteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCodigoCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="casilla" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCodigoClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerCodigoClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCodigoCliente2">
        <s:complexType />
      </s:element>
      <s:element name="obtenerCodigoCliente2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerCodigoCliente2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarPaquete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clasificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="peso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="destino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codCliente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarPaqueteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="registrarPaqueteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ingresarDetallePaquete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="destino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ingresarDetallePaqueteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ingresarDetallePaqueteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ingresarCodigoDetallePaquete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoDetalle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoPaquete" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ingresarCodigoDetallePaqueteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ingresarCodigoDetallePaqueteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ingresarCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cat" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ingresarCategoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ingresarCategoriaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ingresarImpuesto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="imp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ingresarImpuestoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ingresarImpuestoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarDetallePaquete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codCliente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarDetallePaqueteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargarDetallePaqueteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verPaquete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="casilla" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verPaqueteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verPaqueteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verPaquete2">
        <s:complexType />
      </s:element>
      <s:element name="verPaquete2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verPaquete2Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verClientesPendientes">
        <s:complexType />
      </s:element>
      <s:element name="verClientesPendientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verClientesPendientesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verTarjetas">
        <s:complexType />
      </s:element>
      <s:element name="verTarjetasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verTarjetasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="autorizarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="casilla" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoCliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="autorizarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="autorizarClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarPaquete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="casilla" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoPac" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarPaqueteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarPaqueteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verEmpleado">
        <s:complexType />
      </s:element>
      <s:element name="verEmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verEmpleadoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codEmpleado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarEmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarEmpleadoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarClienteNuevoSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarClienteNuevo" />
  </wsdl:message>
  <wsdl:message name="GuardarClienteNuevoSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarClienteNuevoResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarTarjetaSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarTarjeta" />
  </wsdl:message>
  <wsdl:message name="GuardarTarjetaSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarTarjetaResponse" />
  </wsdl:message>
  <wsdl:message name="CargarClientesSoapIn">
    <wsdl:part name="parameters" element="tns:CargarClientes" />
  </wsdl:message>
  <wsdl:message name="CargarClientesSoapOut">
    <wsdl:part name="parameters" element="tns:CargarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="CargarDatosSoapIn">
    <wsdl:part name="parameters" element="tns:CargarDatos" />
  </wsdl:message>
  <wsdl:message name="CargarDatosSoapOut">
    <wsdl:part name="parameters" element="tns:CargarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="LoguinClienteSoapIn">
    <wsdl:part name="parameters" element="tns:LoguinCliente" />
  </wsdl:message>
  <wsdl:message name="LoguinClienteSoapOut">
    <wsdl:part name="parameters" element="tns:LoguinClienteResponse" />
  </wsdl:message>
  <wsdl:message name="LoguinClientePassSoapIn">
    <wsdl:part name="parameters" element="tns:LoguinClientePass" />
  </wsdl:message>
  <wsdl:message name="LoguinClientePassSoapOut">
    <wsdl:part name="parameters" element="tns:LoguinClientePassResponse" />
  </wsdl:message>
  <wsdl:message name="LoguinSoapIn">
    <wsdl:part name="parameters" element="tns:Loguin" />
  </wsdl:message>
  <wsdl:message name="LoguinSoapOut">
    <wsdl:part name="parameters" element="tns:LoguinResponse" />
  </wsdl:message>
  <wsdl:message name="LoguinPassSoapIn">
    <wsdl:part name="parameters" element="tns:LoguinPass" />
  </wsdl:message>
  <wsdl:message name="LoguinPassSoapOut">
    <wsdl:part name="parameters" element="tns:LoguinPassResponse" />
  </wsdl:message>
  <wsdl:message name="insertarCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:insertarCategoria" />
  </wsdl:message>
  <wsdl:message name="insertarCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:insertarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="insertarPaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:insertarPaquete" />
  </wsdl:message>
  <wsdl:message name="insertarPaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:insertarPaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerCodigoPaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerCodigoPaquete" />
  </wsdl:message>
  <wsdl:message name="obtenerCodigoPaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerCodigoPaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerCodigoDetallePaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerCodigoDetallePaquete" />
  </wsdl:message>
  <wsdl:message name="obtenerCodigoDetallePaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerCodigoDetallePaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerCodigoClienteSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerCodigoCliente" />
  </wsdl:message>
  <wsdl:message name="obtenerCodigoClienteSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerCodigoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerCodigoCliente2SoapIn">
    <wsdl:part name="parameters" element="tns:obtenerCodigoCliente2" />
  </wsdl:message>
  <wsdl:message name="obtenerCodigoCliente2SoapOut">
    <wsdl:part name="parameters" element="tns:obtenerCodigoCliente2Response" />
  </wsdl:message>
  <wsdl:message name="registrarPaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:registrarPaquete" />
  </wsdl:message>
  <wsdl:message name="registrarPaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:registrarPaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="ingresarDetallePaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:ingresarDetallePaquete" />
  </wsdl:message>
  <wsdl:message name="ingresarDetallePaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:ingresarDetallePaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="ingresarCodigoDetallePaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:ingresarCodigoDetallePaquete" />
  </wsdl:message>
  <wsdl:message name="ingresarCodigoDetallePaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:ingresarCodigoDetallePaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="ingresarCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:ingresarCategoria" />
  </wsdl:message>
  <wsdl:message name="ingresarCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:ingresarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="ingresarImpuestoSoapIn">
    <wsdl:part name="parameters" element="tns:ingresarImpuesto" />
  </wsdl:message>
  <wsdl:message name="ingresarImpuestoSoapOut">
    <wsdl:part name="parameters" element="tns:ingresarImpuestoResponse" />
  </wsdl:message>
  <wsdl:message name="cargarDetallePaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:cargarDetallePaquete" />
  </wsdl:message>
  <wsdl:message name="cargarDetallePaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:cargarDetallePaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="verPaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:verPaquete" />
  </wsdl:message>
  <wsdl:message name="verPaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:verPaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="verPaquete2SoapIn">
    <wsdl:part name="parameters" element="tns:verPaquete2" />
  </wsdl:message>
  <wsdl:message name="verPaquete2SoapOut">
    <wsdl:part name="parameters" element="tns:verPaquete2Response" />
  </wsdl:message>
  <wsdl:message name="verClientesPendientesSoapIn">
    <wsdl:part name="parameters" element="tns:verClientesPendientes" />
  </wsdl:message>
  <wsdl:message name="verClientesPendientesSoapOut">
    <wsdl:part name="parameters" element="tns:verClientesPendientesResponse" />
  </wsdl:message>
  <wsdl:message name="verTarjetasSoapIn">
    <wsdl:part name="parameters" element="tns:verTarjetas" />
  </wsdl:message>
  <wsdl:message name="verTarjetasSoapOut">
    <wsdl:part name="parameters" element="tns:verTarjetasResponse" />
  </wsdl:message>
  <wsdl:message name="autorizarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:autorizarCliente" />
  </wsdl:message>
  <wsdl:message name="autorizarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:autorizarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="consultarPaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:consultarPaquete" />
  </wsdl:message>
  <wsdl:message name="consultarPaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:consultarPaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="verEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:verEmpleado" />
  </wsdl:message>
  <wsdl:message name="verEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:verEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="consultarEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:consultarEmpleado" />
  </wsdl:message>
  <wsdl:message name="consultarEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:consultarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarClienteNuevo">
      <wsdl:input message="tns:GuardarClienteNuevoSoapIn" />
      <wsdl:output message="tns:GuardarClienteNuevoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarTarjeta">
      <wsdl:input message="tns:GuardarTarjetaSoapIn" />
      <wsdl:output message="tns:GuardarTarjetaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CargarClientes">
      <wsdl:input message="tns:CargarClientesSoapIn" />
      <wsdl:output message="tns:CargarClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CargarDatos">
      <wsdl:input message="tns:CargarDatosSoapIn" />
      <wsdl:output message="tns:CargarDatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoguinCliente">
      <wsdl:input message="tns:LoguinClienteSoapIn" />
      <wsdl:output message="tns:LoguinClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoguinClientePass">
      <wsdl:input message="tns:LoguinClientePassSoapIn" />
      <wsdl:output message="tns:LoguinClientePassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Loguin">
      <wsdl:input message="tns:LoguinSoapIn" />
      <wsdl:output message="tns:LoguinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoguinPass">
      <wsdl:input message="tns:LoguinPassSoapIn" />
      <wsdl:output message="tns:LoguinPassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarCategoria">
      <wsdl:input message="tns:insertarCategoriaSoapIn" />
      <wsdl:output message="tns:insertarCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarPaquete">
      <wsdl:input message="tns:insertarPaqueteSoapIn" />
      <wsdl:output message="tns:insertarPaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoPaquete">
      <wsdl:input message="tns:obtenerCodigoPaqueteSoapIn" />
      <wsdl:output message="tns:obtenerCodigoPaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoDetallePaquete">
      <wsdl:input message="tns:obtenerCodigoDetallePaqueteSoapIn" />
      <wsdl:output message="tns:obtenerCodigoDetallePaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoCliente">
      <wsdl:input message="tns:obtenerCodigoClienteSoapIn" />
      <wsdl:output message="tns:obtenerCodigoClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoCliente2">
      <wsdl:input message="tns:obtenerCodigoCliente2SoapIn" />
      <wsdl:output message="tns:obtenerCodigoCliente2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarPaquete">
      <wsdl:input message="tns:registrarPaqueteSoapIn" />
      <wsdl:output message="tns:registrarPaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ingresarDetallePaquete">
      <wsdl:input message="tns:ingresarDetallePaqueteSoapIn" />
      <wsdl:output message="tns:ingresarDetallePaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ingresarCodigoDetallePaquete">
      <wsdl:input message="tns:ingresarCodigoDetallePaqueteSoapIn" />
      <wsdl:output message="tns:ingresarCodigoDetallePaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ingresarCategoria">
      <wsdl:input message="tns:ingresarCategoriaSoapIn" />
      <wsdl:output message="tns:ingresarCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ingresarImpuesto">
      <wsdl:input message="tns:ingresarImpuestoSoapIn" />
      <wsdl:output message="tns:ingresarImpuestoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarDetallePaquete">
      <wsdl:input message="tns:cargarDetallePaqueteSoapIn" />
      <wsdl:output message="tns:cargarDetallePaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verPaquete">
      <wsdl:input message="tns:verPaqueteSoapIn" />
      <wsdl:output message="tns:verPaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verPaquete2">
      <wsdl:input message="tns:verPaquete2SoapIn" />
      <wsdl:output message="tns:verPaquete2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verClientesPendientes">
      <wsdl:input message="tns:verClientesPendientesSoapIn" />
      <wsdl:output message="tns:verClientesPendientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verTarjetas">
      <wsdl:input message="tns:verTarjetasSoapIn" />
      <wsdl:output message="tns:verTarjetasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="autorizarCliente">
      <wsdl:input message="tns:autorizarClienteSoapIn" />
      <wsdl:output message="tns:autorizarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarPaquete">
      <wsdl:input message="tns:consultarPaqueteSoapIn" />
      <wsdl:output message="tns:consultarPaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verEmpleado">
      <wsdl:input message="tns:verEmpleadoSoapIn" />
      <wsdl:output message="tns:verEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarEmpleado">
      <wsdl:input message="tns:consultarEmpleadoSoapIn" />
      <wsdl:output message="tns:consultarEmpleadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarClienteNuevo">
      <soap:operation soapAction="http://tempuri.org/GuardarClienteNuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarTarjeta">
      <soap:operation soapAction="http://tempuri.org/GuardarTarjeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarClientes">
      <soap:operation soapAction="http://tempuri.org/CargarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarDatos">
      <soap:operation soapAction="http://tempuri.org/CargarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoguinCliente">
      <soap:operation soapAction="http://tempuri.org/LoguinCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoguinClientePass">
      <soap:operation soapAction="http://tempuri.org/LoguinClientePass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Loguin">
      <soap:operation soapAction="http://tempuri.org/Loguin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoguinPass">
      <soap:operation soapAction="http://tempuri.org/LoguinPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarCategoria">
      <soap:operation soapAction="http://tempuri.org/insertarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarPaquete">
      <soap:operation soapAction="http://tempuri.org/insertarPaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoPaquete">
      <soap:operation soapAction="http://tempuri.org/obtenerCodigoPaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoDetallePaquete">
      <soap:operation soapAction="http://tempuri.org/obtenerCodigoDetallePaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoCliente">
      <soap:operation soapAction="http://tempuri.org/obtenerCodigoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoCliente2">
      <soap:operation soapAction="http://tempuri.org/obtenerCodigoCliente2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarPaquete">
      <soap:operation soapAction="http://tempuri.org/registrarPaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingresarDetallePaquete">
      <soap:operation soapAction="http://tempuri.org/ingresarDetallePaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingresarCodigoDetallePaquete">
      <soap:operation soapAction="http://tempuri.org/ingresarCodigoDetallePaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingresarCategoria">
      <soap:operation soapAction="http://tempuri.org/ingresarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingresarImpuesto">
      <soap:operation soapAction="http://tempuri.org/ingresarImpuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarDetallePaquete">
      <soap:operation soapAction="http://tempuri.org/cargarDetallePaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verPaquete">
      <soap:operation soapAction="http://tempuri.org/verPaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verPaquete2">
      <soap:operation soapAction="http://tempuri.org/verPaquete2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verClientesPendientes">
      <soap:operation soapAction="http://tempuri.org/verClientesPendientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verTarjetas">
      <soap:operation soapAction="http://tempuri.org/verTarjetas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autorizarCliente">
      <soap:operation soapAction="http://tempuri.org/autorizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarPaquete">
      <soap:operation soapAction="http://tempuri.org/consultarPaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verEmpleado">
      <soap:operation soapAction="http://tempuri.org/verEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarEmpleado">
      <soap:operation soapAction="http://tempuri.org/consultarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarClienteNuevo">
      <soap12:operation soapAction="http://tempuri.org/GuardarClienteNuevo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarTarjeta">
      <soap12:operation soapAction="http://tempuri.org/GuardarTarjeta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarClientes">
      <soap12:operation soapAction="http://tempuri.org/CargarClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarDatos">
      <soap12:operation soapAction="http://tempuri.org/CargarDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoguinCliente">
      <soap12:operation soapAction="http://tempuri.org/LoguinCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoguinClientePass">
      <soap12:operation soapAction="http://tempuri.org/LoguinClientePass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Loguin">
      <soap12:operation soapAction="http://tempuri.org/Loguin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoguinPass">
      <soap12:operation soapAction="http://tempuri.org/LoguinPass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarCategoria">
      <soap12:operation soapAction="http://tempuri.org/insertarCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarPaquete">
      <soap12:operation soapAction="http://tempuri.org/insertarPaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoPaquete">
      <soap12:operation soapAction="http://tempuri.org/obtenerCodigoPaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoDetallePaquete">
      <soap12:operation soapAction="http://tempuri.org/obtenerCodigoDetallePaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoCliente">
      <soap12:operation soapAction="http://tempuri.org/obtenerCodigoCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoCliente2">
      <soap12:operation soapAction="http://tempuri.org/obtenerCodigoCliente2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarPaquete">
      <soap12:operation soapAction="http://tempuri.org/registrarPaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingresarDetallePaquete">
      <soap12:operation soapAction="http://tempuri.org/ingresarDetallePaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingresarCodigoDetallePaquete">
      <soap12:operation soapAction="http://tempuri.org/ingresarCodigoDetallePaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingresarCategoria">
      <soap12:operation soapAction="http://tempuri.org/ingresarCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingresarImpuesto">
      <soap12:operation soapAction="http://tempuri.org/ingresarImpuesto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarDetallePaquete">
      <soap12:operation soapAction="http://tempuri.org/cargarDetallePaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verPaquete">
      <soap12:operation soapAction="http://tempuri.org/verPaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verPaquete2">
      <soap12:operation soapAction="http://tempuri.org/verPaquete2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verClientesPendientes">
      <soap12:operation soapAction="http://tempuri.org/verClientesPendientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verTarjetas">
      <soap12:operation soapAction="http://tempuri.org/verTarjetas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autorizarCliente">
      <soap12:operation soapAction="http://tempuri.org/autorizarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarPaquete">
      <soap12:operation soapAction="http://tempuri.org/consultarPaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verEmpleado">
      <soap12:operation soapAction="http://tempuri.org/verEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarEmpleado">
      <soap12:operation soapAction="http://tempuri.org/consultarEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:49897/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:49897/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>