Fase2/QuetzalExpress/QuetzalExpress/Service References/ConexionWeb/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Guardar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dpi" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecnac" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numtar" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tiptar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecex" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="banco" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GuardarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarClientes">
        <s:complexType />
      </s:element>
      <s:element name="CargarClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CargarClientesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CargarDatosResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoguinCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoguinClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoguinClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Loguin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoguinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoguinResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoguinPass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoguinPassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoguinPassResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="impuesto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarCategoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertarCategoriaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarPaquete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clasificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="peso" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarPaqueteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarPaqueteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCodigoPaquete">
        <s:complexType />
      </s:element>
      <s:element name="obtenerCodigoPaqueteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerCodigoPaqueteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCodigoDetallePaquete">
        <s:complexType />
      </s:element>
      <s:element name="obtenerCodigoDetallePaqueteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerCodigoDetallePaqueteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCodigoCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="casilla" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCodigoClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerCodigoClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarPaquete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clasificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="peso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="destino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codCliente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarPaqueteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="registrarPaqueteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ingresarDetallePaquete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="destino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ingresarDetallePaqueteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ingresarDetallePaqueteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ingresarCodigoDetallePaquete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoDetalle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ingresarCodigoDetallePaqueteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ingresarCodigoDetallePaqueteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarSoapIn">
    <wsdl:part name="parameters" element="tns:Guardar" />
  </wsdl:message>
  <wsdl:message name="GuardarSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="CargarClientesSoapIn">
    <wsdl:part name="parameters" element="tns:CargarClientes" />
  </wsdl:message>
  <wsdl:message name="CargarClientesSoapOut">
    <wsdl:part name="parameters" element="tns:CargarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="CargarDatosSoapIn">
    <wsdl:part name="parameters" element="tns:CargarDatos" />
  </wsdl:message>
  <wsdl:message name="CargarDatosSoapOut">
    <wsdl:part name="parameters" element="tns:CargarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="LoguinClienteSoapIn">
    <wsdl:part name="parameters" element="tns:LoguinCliente" />
  </wsdl:message>
  <wsdl:message name="LoguinClienteSoapOut">
    <wsdl:part name="parameters" element="tns:LoguinClienteResponse" />
  </wsdl:message>
  <wsdl:message name="LoguinSoapIn">
    <wsdl:part name="parameters" element="tns:Loguin" />
  </wsdl:message>
  <wsdl:message name="LoguinSoapOut">
    <wsdl:part name="parameters" element="tns:LoguinResponse" />
  </wsdl:message>
  <wsdl:message name="LoguinPassSoapIn">
    <wsdl:part name="parameters" element="tns:LoguinPass" />
  </wsdl:message>
  <wsdl:message name="LoguinPassSoapOut">
    <wsdl:part name="parameters" element="tns:LoguinPassResponse" />
  </wsdl:message>
  <wsdl:message name="insertarCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:insertarCategoria" />
  </wsdl:message>
  <wsdl:message name="insertarCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:insertarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="insertarPaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:insertarPaquete" />
  </wsdl:message>
  <wsdl:message name="insertarPaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:insertarPaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerCodigoPaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerCodigoPaquete" />
  </wsdl:message>
  <wsdl:message name="obtenerCodigoPaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerCodigoPaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerCodigoDetallePaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerCodigoDetallePaquete" />
  </wsdl:message>
  <wsdl:message name="obtenerCodigoDetallePaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerCodigoDetallePaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerCodigoClienteSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerCodigoCliente" />
  </wsdl:message>
  <wsdl:message name="obtenerCodigoClienteSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerCodigoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="registrarPaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:registrarPaquete" />
  </wsdl:message>
  <wsdl:message name="registrarPaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:registrarPaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="ingresarDetallePaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:ingresarDetallePaquete" />
  </wsdl:message>
  <wsdl:message name="ingresarDetallePaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:ingresarDetallePaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="ingresarCodigoDetallePaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:ingresarCodigoDetallePaquete" />
  </wsdl:message>
  <wsdl:message name="ingresarCodigoDetallePaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:ingresarCodigoDetallePaqueteResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <wsdl:input message="tns:GuardarSoapIn" />
      <wsdl:output message="tns:GuardarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CargarClientes">
      <wsdl:input message="tns:CargarClientesSoapIn" />
      <wsdl:output message="tns:CargarClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CargarDatos">
      <wsdl:input message="tns:CargarDatosSoapIn" />
      <wsdl:output message="tns:CargarDatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoguinCliente">
      <wsdl:input message="tns:LoguinClienteSoapIn" />
      <wsdl:output message="tns:LoguinClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Loguin">
      <wsdl:input message="tns:LoguinSoapIn" />
      <wsdl:output message="tns:LoguinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoguinPass">
      <wsdl:input message="tns:LoguinPassSoapIn" />
      <wsdl:output message="tns:LoguinPassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarCategoria">
      <wsdl:input message="tns:insertarCategoriaSoapIn" />
      <wsdl:output message="tns:insertarCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarPaquete">
      <wsdl:input message="tns:insertarPaqueteSoapIn" />
      <wsdl:output message="tns:insertarPaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoPaquete">
      <wsdl:input message="tns:obtenerCodigoPaqueteSoapIn" />
      <wsdl:output message="tns:obtenerCodigoPaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoDetallePaquete">
      <wsdl:input message="tns:obtenerCodigoDetallePaqueteSoapIn" />
      <wsdl:output message="tns:obtenerCodigoDetallePaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoCliente">
      <wsdl:input message="tns:obtenerCodigoClienteSoapIn" />
      <wsdl:output message="tns:obtenerCodigoClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarPaquete">
      <wsdl:input message="tns:registrarPaqueteSoapIn" />
      <wsdl:output message="tns:registrarPaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ingresarDetallePaquete">
      <wsdl:input message="tns:ingresarDetallePaqueteSoapIn" />
      <wsdl:output message="tns:ingresarDetallePaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ingresarCodigoDetallePaquete">
      <wsdl:input message="tns:ingresarCodigoDetallePaqueteSoapIn" />
      <wsdl:output message="tns:ingresarCodigoDetallePaqueteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <soap:operation soapAction="http://tempuri.org/Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarClientes">
      <soap:operation soapAction="http://tempuri.org/CargarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarDatos">
      <soap:operation soapAction="http://tempuri.org/CargarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoguinCliente">
      <soap:operation soapAction="http://tempuri.org/LoguinCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Loguin">
      <soap:operation soapAction="http://tempuri.org/Loguin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoguinPass">
      <soap:operation soapAction="http://tempuri.org/LoguinPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarCategoria">
      <soap:operation soapAction="http://tempuri.org/insertarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarPaquete">
      <soap:operation soapAction="http://tempuri.org/insertarPaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoPaquete">
      <soap:operation soapAction="http://tempuri.org/obtenerCodigoPaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoDetallePaquete">
      <soap:operation soapAction="http://tempuri.org/obtenerCodigoDetallePaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoCliente">
      <soap:operation soapAction="http://tempuri.org/obtenerCodigoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarPaquete">
      <soap:operation soapAction="http://tempuri.org/registrarPaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingresarDetallePaquete">
      <soap:operation soapAction="http://tempuri.org/ingresarDetallePaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingresarCodigoDetallePaquete">
      <soap:operation soapAction="http://tempuri.org/ingresarCodigoDetallePaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <soap12:operation soapAction="http://tempuri.org/Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarClientes">
      <soap12:operation soapAction="http://tempuri.org/CargarClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarDatos">
      <soap12:operation soapAction="http://tempuri.org/CargarDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoguinCliente">
      <soap12:operation soapAction="http://tempuri.org/LoguinCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Loguin">
      <soap12:operation soapAction="http://tempuri.org/Loguin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoguinPass">
      <soap12:operation soapAction="http://tempuri.org/LoguinPass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarCategoria">
      <soap12:operation soapAction="http://tempuri.org/insertarCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarPaquete">
      <soap12:operation soapAction="http://tempuri.org/insertarPaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoPaquete">
      <soap12:operation soapAction="http://tempuri.org/obtenerCodigoPaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoDetallePaquete">
      <soap12:operation soapAction="http://tempuri.org/obtenerCodigoDetallePaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCodigoCliente">
      <soap12:operation soapAction="http://tempuri.org/obtenerCodigoCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarPaquete">
      <soap12:operation soapAction="http://tempuri.org/registrarPaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingresarDetallePaquete">
      <soap12:operation soapAction="http://tempuri.org/ingresarDetallePaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingresarCodigoDetallePaquete">
      <soap12:operation soapAction="http://tempuri.org/ingresarCodigoDetallePaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:49897/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:49897/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>